<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/lightbox.css" />
<link rel="stylesheet" href="/styles/home.css" />

<section class="home-section">
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <div class="banner-content">
                            <h1>TURKEY<span class="black">TOUR</span></h1>
                            <h3>Türkiye'nin Turistik Yerlerini Keşfedin!</h3>
                            <p>Türkiye'nin her köşesindeki turistik mekanları keşfedin ve bu yerler hakkında bilgi edinin.</p>
                            <a href="/places" class="btn home-btn">TURİSTİK YERLER</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <div class="banner-content">
                            <h1>TURKEY<span class="black">TOUR</span></h1>
                            <h3>Türkiye'nin Turistik Yerlerini Keşfedin!</h3>
                            <p>Türkiye'nin her köşesindeki turistik mekanları keşfedin ve bu yerler hakkında bilgi edinin.</p>
                            <a href="/places" class="btn home-btn">TURİSTİK YERLER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mb-5">
                <div class="card features-box">
                    <div class="text-center">
                        <div class="features-icon-border">
                            <div class="features-icon">
                                <i class="fa-solid fa-user fa-2xl" style="color: #bf3131"></i>
                            </div>
                        </div>
                        <div class="features-text">
                            <h3>Hesap Oluştur</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card features-box">
                    <div class="text-center">
                        <div class="features-icon-border">
                            <div class="features-icon">
                                <i class="fa-solid fa-map fa-2xl" style="color: #bf3131"></i>
                            </div>
                        </div>
                        <div class="features-text">
                            <h3>Haritada Gör</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card features-box">
                    <div class="text-center">
                        <div class="features-icon-border">
                            <div class="features-icon">
                                <i class="fa-solid fa-plus fa-2xl" style="color: #bf3131"></i>
                            </div>
                        </div>
                        <div class="features-text">
                            <h3>Turistik Yer Ekle</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card features-box">
                    <div class="text-center">
                        <div class="features-icon-border">
                            <div class="features-icon">
                                <i class="fa-solid fa-comment fa-2xl" style="color: #bf3131"></i>
                            </div>
                        </div>
                        <div class="features-text">
                            <h3>Yorum Yap</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h2 class="section-title">Türkiye'nin Güzellikleri</h2>
                <p class="section-subtitle">
                    Türkiye'nin güzellikleri sadece bir tanımla sınırlı değildir, her biri kendine özgü ve etkileyici bir hikayeye sahiptir. Bu güzellikler, her
                    ziyaretçiyi büyüler ve Türkiye'yi keşfetmeye davet eder.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a
                    href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826689/pexels-hakan-tahmaz-2656502_fzocnz.jpg"
                    data-lightbox="image"
                    data-title="İzmir Saat Kulesi"
                >
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826689/pexels-hakan-tahmaz-2656502_fzocnz.jpg"
                        alt="İzmir Saat Kulesi"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712687946/wp9590108_jl6teg.webp" data-lightbox="image" data-title="Kız Kulesi">
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712687946/wp9590108_jl6teg.webp"
                        alt="Kız Kulesi"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a
                    href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826690/pexels-julia-volk-6173322_hs0oq7.jpg"
                    data-lightbox="image"
                    data-title="Kapadokya"
                >
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826690/pexels-julia-volk-6173322_hs0oq7.jpg"
                        alt="Kapadokya"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a
                    href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826689/pexels-julia-volk-6061233_vvui4i.jpg"
                    data-lightbox="image"
                    data-title="Mamure Kalesi"
                >
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712826689/pexels-julia-volk-6061233_vvui4i.jpg"
                        alt="Mamure Kalesi"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712528458/manzara_fdxikp.jpg" data-lightbox="image" data-title="Sultanahmet Camii">
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712528458/manzara_fdxikp.jpg"
                        alt="Sultanahmet Camii"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <a
                    href="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712827448/acanthus-about-city-manavgat-waterfall-01_feuvj6.jpg"
                    data-lightbox="image"
                    data-title="Manavgat Şelalesi"
                >
                    <img
                        src="https://res.cloudinary.com/dnhdprmgf/image/upload/v1712827448/acanthus-about-city-manavgat-waterfall-01_feuvj6.jpg"
                        alt="Manavgat Şelalesi"
                        class="img-fluid rounded-3"
                    />
                </a>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/lightbox.js"></script>
