<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/home.css" />

<section class="home-section">
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <div class="banner-content">
                            <h1>TURKEY<span class="black">TOUR</span></h1>
                            <h3>Türkiye'nin Turistik Yerlerini Keşfedin!</h3>
                            <p>Türkiye'nin her köşesindeki turistik mekanları keşfedin ve bu yerler hakkında bilgi edinin.</p>
                            <a href="/places" class="btn home-btn">TURİSTİK YERLER</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <div class="banner-content">
                            <h1>TURKEY<span class="black">TOUR</span></h1>
                            <h3>Türkiye'nin Turistik Yerlerini Keşfedin!</h3>
                            <p>Türkiye'nin her köşesindeki turistik mekanları keşfedin ve bu yerler hakkında bilgi edinin.</p>
                            <a href="/places" class="btn home-btn">TURİSTİK YERLER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
