<%- layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <h1 class="mb-3">Kayıt Ol</h1>
    <form action="/register" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">E-posta</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button class="btn btn-primary">Kayıt Ol</button>
    </form>
  </div>
</div>
